<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs-Crud</title>
</head>
<body>

    <!-- <h1>Student List</h1>

    <a href="/add">Add student</a>

    <ul>
        <%studentList.forEach((s)=>{%>
        <li><%=s.name%></li>
    <%})%>

    </ul> -->

    
    <h1>Student List</h1>



<a href="/add">Add student</a>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% studentList.forEach((s) => { %>
            <tr>
                <td><%= s.id %></td>
                <td><%= s.name %></td>
                <td>
                    <a href="/edit/<%= s.id %>">Edit</a>
                    <a href="/delete/<%= s.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
</body>
</html>